-extends "smartmin/read.haml"
-load i18n channels

-block title
  .medium-help.float-left{class:'{{object|channel_icon}}'}
  %h2.font_normalize.header-margin.title
    {{ object.get_channel_type_display }} Configuration

    .number
      {{ object.get_address_display }}
      -if object.get_country_display
        ({{ object.get_country_display }})

-block content

  -if object.channel_type == 'PS'
    %h4
      -blocktrans
        To finish added this code in your HTML page.

    %hr

    %h4
      -trans "Javascript Code"

    .important
      %p
        &lt;!DOCTYPE html&gt; <br/>
        &lt;html&gt; <br/>
        &lt;head&gt;
        %ul
          %li&lt;meta charset="utf-8"&gt; <br/>
          %li&lt;title&gt;{{ object.org.name }}&lt;/title&gt;<br/>
          %li&lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;<br/>
          %li&lt;link rel=&quot;stylesheet&quot; href=&quot;https://new-push-public-attachments.s3-eu-west-1.amazonaws.com/push-widget/2.0/push.min.css&quot;&gt;
          %li&lt;script src=&quot;https://new-push-public-attachments.s3-eu-west-1.amazonaws.com/push-widget/2.0/push.min.js&quot;&gt;&lt;/script&gt;
        &lt;/head&gt;<br/>

        &lt;body&gt; <br/>
        %ul
          &lt;script type=&quot;text/javascript&quot;&gt;
          %ul
            %li const app = new WebPush({
              %ul
                %li socketUrl: '{{ object.config.send_url }}',
                %li channelUUID: '{{ object.uuid }}',
                %li hostApi: 'https://{{ domain }}',
                %li welcomeMessage: '{{ object.config.welcome_message }}',
                %li welcomeButton: '{{ object.config.welcome_button }}',
                %li autoOpen: {{ object.config.auto_open }},
                %li <br/>// Use this code below to customize your widget
                %li customizeWidget: {
                  %ul mainIcon: '{{ object.config.main_icon_url }}',
                    %li mainIconColor: '{{ object.config.main_icon_color }}',
                    %li chatIcon: '{{ object.config.chat_icon_url }}',
                    %li chatIconColor: '{{ object.config.chat_icon_color }}',
                    %li chatPushMessageColor: '{{ object.config.chat_push_message_color }}',
                    %li chatPushTextColor: '{{ object.config.chat_push_text_color }}',
                    %li chatUserTextColor: '{{ object.config.chat_user_text_color }}',
                %li },
            });
          &lt;/script&gt;
        &lt;/body&gt;
      &lt;/html&gt;

-blocktrans
To finish added this code in your HTML page.

%hr

%h4
-trans "Javascript Code"

-block extra-script
  {{ block.super }}
  <script src="{{ STATIC_URL }}rest_framework/js/prettify-min.js"></script>
  :javascript
    $(function(){
      prettyPrint();
    });

-block extra-style
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}rest_framework/css/prettify.css"/>
  :css
    .config-value {
      float: left;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 20px;
      height: 10px;
    }

    .config-value .name {
      font-weight: normal;
      float: left;
    }

    .config-value .value {
      float: left;
      padding-left: 5px;
    }

    pre.prettyprint {
      margin-top: 0px;
      margin-bottom: 0px;

      font-family: monospace;
      font-size: inherit;
      white-space: pre;
      line-height: 110%;

      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
    }

    .important {
      background-color: #efefef;
      border: 1px solid #ccc;
      padding: 10px 10px 0px 10px;
      margin-bottom: 10px;
    }

    .device .number {
      padding-left:5px;
    }

    .title .number {
      font-size:20px;
    }

    ol.line-steps li {
      margin-top: 10px;
      list-style: decimal;
    }

    .info {
      margin-bottom: 20px;
    }
